
label {
    color: white;
}

.pure-group input,
.pure-group textarea {
    font-family: inherit;
    width: 40%;
    min-width: 200px;
    max-width: 400px;
}

.button-success {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

.honeypot-field {
    display: none;
}

#message-fields {
    display: flex;
    justify-content: center;
}

#message-fields>div {
    width: 30vw;
}

#message-fields fieldset {
    width: 100vw;
}