.resume-box {
    width: clamp(150px, 20vw, 400px);
    border: 3px solid white;
    border-radius: 25px;
}

.resume-box h2 {
    font-size: clamp(1.0rem, 2.2vw, 3rem);
}

#resume-content {
    display: grid;
    grid-template-columns: clamp(180px, 25vw, 450px) auto;
    grid-auto-rows: minmax(600px, auto);
}

#resume-menu>div {
    padding-left: 0 !important;
}

#resume-details {
    border: 3px solid white;
    border-radius: 25px;
    margin-top: 20px;
    padding: 20px 10px;
    max-width: 2000px;
}

#resume-details li::marker{
    color: white;
}

#resume-details p {
    font-size: clamp(1.2rem, 1.5vw, 2.5rem);
}

.menu-item {
    background-color: transparent;
    border: none;
    color: white;
    font-size: clamp(1.0rem, 1.5vw, 2.5rem);
    margin-left: 3rem;
}

.scrollable-container {
    height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable-container h4 {
    margin-bottom: 10px;
    color:greenyellow
}

.carousel-indicators [data-bs-target] {
    background-color: aquamarine;
}

/* make items flow vertical */
@media (width < 750px) {
    .resume-box {
        width: clamp(170px, 35vw, 300px);
    }

    .resume-box h2 {
        font-size: clamp(1.2rem, 3.6vw, 3rem);
    }
    
    #resume-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto 600px;
        grid-auto-columns: minmax(600px, auto);
    }

    #resume-menu>div>ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
    }

    #exp-collapse>ul,
    #sk-collapse>ul {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    #resume-menu li {
        display: inline-block;
        justify-self: center;
    }

    .menu-item {
        margin-left: 0;
    }

    .scrollable-container {
        height: 360px;
    }
}