
body {
    background-image: url('../assets/images/background.png');
    background-repeat: no-repeat;
    background-position: center; /* Centers the image */
    background-size: cover; /* Stretches the image to cover the screen */
    margin: 0;
    padding: 40px;
    width: 100vw;
}
p {
    color: white;
    font-size: clamp(1.0rem, 1.5vw, 2.5rem);
}
h1, h2 {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    color: white;
}
h1 {
    font-weight: 700;
    font-size: clamp(2rem, 2.7vw, 4.5rem);
}
h2 {
    font-weight: 500;
    font-size: clamp(1.5rem, calc(2vw + 0rem), 3.2rem);
    margin-top: 20px;
    margin-bottom: 20px;
}
h3 {
    color:aqua;
}
h4 {
    color:aquamarine;
}
ul ul h4 {
    color:greenyellow
}
hr {
    width: 100%;
    margin-bottom: 20px;
}
/* limit paragraph width to 700px */
.text-container {
    width: clamp(700px, 55vw, 1000px);
}

.project-logo {
    height: clamp(100px, 9.5vw, 350px);
    padding: 20px;
    box-sizing: unset;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:navy;
    color: white;
    text-align: center;
    width: clamp(10rem, 16vw, 25rem);
    height: clamp(5rem, 8vw, 12.5rem);
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
    box-sizing: unset;
}
.flex-box-two-ends {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensures it fills the container */
}
.project-demo {
    margin-top: 50px;
    margin-bottom: 50px;
    width: clamp(700px, 55vw, 1000px)
}

.video-demo {
    aspect-ratio: initial;
    width: 100%;
    height: auto;
}

@media (max-width: 750px) {
    body {
        padding: 20px;
    }

    .text-container {
        width: 100%
    }

    .project-demo {
        width: 100%
    }
}