h1, h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* limit paragraph width to 700px */
p {
    width:85vw - 100px;
}
h4 {
    width:85vw - 100px;
}
a {
    text-decoration: none;
    color:inherit
}
@media (width > 800px) {
    p {
        width:700px;
    }
    h4 {
        width:700px;
    }
}
.project-logo {
    height: 120px;
    padding: 20px;
}
.center-content {
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
}
/* make items flow vertical */
@media (width < 650px) {
    .center-content>div {
        display: flex;
        flex-flow: column nowrap;
    }
}
.box {
    display: inline-block;
    background-color:navy;
    color: white;
    text-align: center;
    width: 140px;
    padding: 20px;
    border: 2px solid black;  
    border-radius: 15px;
    margin: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.flex-box-two-ends {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensures it fills the container */
}
