body {
    background-image: url('./assets/images/background.png');
    background-repeat: no-repeat;
    background-position: center; /* Centers the image */
    background-size: cover; /* Stretches the image to cover the screen */
    width: vw;
    height: vh; /* Ensures the body covers the full viewport height */
    margin: 0; /* Removes default browser margin */
    padding: 40px;
}
p {
    color: white;
}
h1, h2 {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    color: white;
}
h1 {
    font-weight: 700;
    font-size: 2rem;
}
h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.lead {
    color:white;
    font-size: 1rem;
}
/* limit paragraph width to 700px */
.text-container {
    max-width: 700px;
}
.project-logo {
    height: 120px;
    padding: 20px;
}
#front-page>div {
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-self: center;
}
#front-page-title {
    display: grid;
    width: 475px;
    grid-template-columns: 250px 120px;
    grid-template-rows: 50px 60px 70px;
}
#front-page-projects {
    display: flex;
    gap: 60px;
}
#front-page>div>img{
    grid-row: span 3;
}
/* make items flow vertical */
@media (width < 720px) {
    #front-page>div>div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .front-page-title {
        display: flex;
        flex-direction: column;
        width: 240px;
        align-items: center;
    }
    #front-page-projects {
        gap: 0px;
    }
}
.box {
    display: inline-block;
    background-color:navy;
    color: white;
    text-align: center;
    width: 140px;
    padding: 20px;
    border: 2px solid black;  
    border-radius: 15px;
    margin: 10px;
    box-sizing: unset;
}
.flex-box-two-ends {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensures it fills the container */
}
#contact-info img {
    height:30px;
}
#contact-info .icon-square {
    border-radius: 5px;
}
